<% provide(:title, 'Manage Supervisors') %>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="container">
  <h4 class="display-4 aheading animated fadeInDown faster">Manage Supervisors</h4>
  <% if is_admin? %>
    <h5 class="display-5">You are viewing all supervisors.</h5>
    <%= content_tag 'div', '', id: 'data', data: {admin: true} %>
  <% else %>
    <h5 class="display-5">You are viewing supervisors from <%= current_user.department.name %>.</h5>
    <%= content_tag 'div', '', id: 'data', data: {admin: false} %>
  <% end %>
  <br>
  <div class="card">
  <div class="card-header pb-2 pt-2">Add new Supervisor:</div>
  <div class="card-body">
  <%= form_for(@supervisor, url: supervisors_path, html: {class: "needs-validation", novalidate: true}) do |f| %>
    <%= render 'shared/error_messages', obj: @supervisor %>
    <div class="form-row">
      <div class="form-group col-md-8">
        <%= f.text_field :name, class: "form-control", placeholder: "enter supervisor name", 'aria-label': "New supervisor name" %>
      </div>
      <div class="form-group col-md-4">
        <%= f.text_field :netID, class: "form-control", placeholder: "netID", required: true, 'aria-label': "New supervisor netID" %>
        <div class="invalid-feedback">Please enter supervisor netID.</div>
      </div>
    </div>
    <% if is_admin? %>
    <div class="form-row">
        <div class="form-group col-lg-5" style="margin-bottom: 0.5em;">
          <%= f.select :university_id, @universities_list, {prompt: "Select University..."}, {id: "validation_uni", class: "custom-select", required: true} %>
        </div>
        <div class="form-group col-lg-7">
          <%= f.select :department_id, @departments_list, {prompt: "Select Department..."}, {id: "validation_dp", class: "custom-select", 'aria-label': "New supervisor department", required: true, disabled: true} %>
          <div class="invalid-feedback">Please select supervisor department.</div>
        </div>
    </div>
      <% else %>
        <%= f.hidden_field :department_id, value: current_user.department.id %>
      <% end %>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class='fas fa-plus' style='font-size:79%'></i>&nbsp; Submit
    <% end %>
    <%= link_to "Batch Import&nbsp; <i class='fas fa-arrow-right' style='font-size:79%'></i>".html_safe, {action: "batch_import"}, {class: "btn btn-secondary"} %>
  <% end %>
  </div>
  </div>
  <br>
  <br>
  <table class="table supervisors-table table-hover" data-source="<%= supervisors_path(format: :json) %>">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">NetID</th>
        <th scope="col">Dept.</th>
        <th scope="col">Students</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
