<% provide(:title, 'Batch Assign Students - PolyU FYP Management') %>
<div class="container">
    <h2 class="display-2" style="margin:1em 0 0.5em 0">Batch Assign Students</h2>
    <%= form_for :lists, url: batch_assign_path do |f| %>
    <div class="row">
        <div class="form-group col-md-6">
        <%= f.label :students_list, "Assign student(s) (netIDs one on each line):" %>
        <%= f.text_area :students_list, {rows: 15, class: "form-control batch-import-box"} %>
        </div>
        <div class="form-group col-md-6">
        <%= f.label :supervisors_list, "to supervisor(s) (netIDs one on each line):" %>
        <%= f.text_area :supervisors_list, {rows: 15, class: "form-control batch-import-box"} %>
        </div>
    </div>
    <br>
    <%= f.submit "Assign students", class: "btn btn-primary" %>
    <%= link_to "Back&nbsp; <i class='fas fa-undo' style='font-size:79%'></i>".html_safe, {action: "assign"}, {class: "btn btn-secondary"} %>
    <% end %>
</div>