<% provide(:title, 'Batch Import Students') %>
<div class="container">
  <h2 class="display-2 aheading">Batch Import Students</h2>
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#batchimporthelp" aria-expanded="false" aria-controls="batchimporthelp">
    <i class="fas fa-info" style='font-size:77%;position:relative;top:-1px'></i>&ensp; Need Help?
  </button>
  <div class="collapse" id="batchimporthelp">
    <br>
    <div class="card card-body">
      <p style="color:darkslategrey">First, select the FYP Year for all the students that will be imported. <br>
        On each line, input the corresponding netID and name of each student. <br>
        Press Enter to skip a line if name is not avaliable. <br>
        Press "Create Students" when you are done.</p>
    </div>
  </div>
  <br>
  <br>
  <%= form_for :students_list, url: students_batch_import_path do |f| %>
    <% if is_admin? %>
      <div class="form-group">
        <%= f.label :department, "Adding Students to Department:" %>
        <%= f.select :department_id, options_for_select(@departments_list, ( flash[:students_list] && flash[:students_list][:department_id] ? flash[:students_list][:department_id] : nil )), {prompt: "Select Department:", selected: (!flash[:students_list].blank? && !flash[:students_list][:department_id].blank?) }, {class: "custom-select"} %>
      </div>
    <% else %>
      <%= f.hidden_field :department_id, value: current_user.department.id %>
    <% end %>
    <div class="form-group">
      <%= f.label :fyp_year, "Select Students FYP Year:" %>
      <%= f.select :fyp_year, options_for_select(@fyp_year_list, ( flash[:students_list] && flash[:students_list][:fyp_year] ? flash[:students_list][:fyp_year] : nil )), {prompt: "Select FYP Year:", selected: (!flash[:students_list].blank? && !flash[:students_list][:fyp_year].blank?) }, {class: "custom-select"} %>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :netID_list, "List of netIDs:" %>
        <%= f.text_area :netID_list, {rows: 15, class: "form-control batch-import-box", value: ( flash[:students_list] && flash[:students_list][:netID_list] ? flash[:students_list][:netID_list] : nil )} %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :name_list, "List of names:" %>
        <%= f.text_area :name_list, {rows: 15, class: "form-control batch-import-box", value: ( flash[:students_list] && flash[:students_list][:name_list] ? flash[:students_list][:name_list] : nil )} %>
      </div>
    </div>
    <br>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class='fas fa-plus' style='font-size:79%'></i>&nbsp; Create Students
    <% end %>
    <%= link_to "Back&nbsp; <i class='fas fa-undo' style='font-size:79%'></i>".html_safe, '/students', {class: "btn btn-secondary"} %>
  <% end %>
</div>
