<% provide(:title, 'Manage Students') %>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="container">
  <h2 class="display-2" style="margin:1em 0 0.4em 0">Manage Students</h2>
  <% if is_admin? %>
    <h5 class="display-5">You are viewing all students.</h5>
    <%= content_tag 'div', '', id: 'data', data: {admin: true} %>
  <% else %>
    <h5 class="display-5">You are viewing students from <%= current_user.department.name %>.</h5>
    <%= content_tag 'div', '', id: 'data', data: {admin: false} %>
  <% end %>
  <br>
  <%= form_for(@student, url: students_path) do |f| %>
    <%= render 'shared/error_messages', obj: @student %>
    <p>Add new Student:</p>
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.text_field :name, class: "form-control", placeholder: "enter student name", 'aria-label': "New student name" %>
      </div>
      <div class="form-group col-md-4">
        <%= f.text_field :netID, class: "form-control", placeholder: "enter student netID", required: true, 'aria-label': "New student netID" %>
      </div>
      <div class="form-group col-md-4">
        <%= f.select :fyp_year, @fyp_year_list, {prompt: "Select FYP Year:"}, {class: "custom-select", required: true, 'aria-label': "New student FYP Year"} %>
      </div>
      <% if is_admin? %>
        <div class="form-group col-md-12">
          <%= f.select :department_id, @departments_list, {prompt: "Select Department:"}, {class: "custom-select", 'aria-label': "New student Department"} %>
        </div>
      <% else %>
        <%= f.hidden_field :department_id, value: current_user.department.id %>
      <% end %>
    </div>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class='fas fa-plus' style='font-size:79%'></i>&nbsp; Create Student
    <% end %>
    <%= link_to "Batch Import&nbsp; <i class='fas fa-arrow-right' style='font-size:79%'></i>".html_safe, {action: "batch_import"}, {class: "btn btn-secondary"} %>
  <% end %>
  <br>
  <br>
  <table class="table students-table table-hover" data-source="<%= students_path(format: :json) %>" style="font-size:14px; width:100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">NetID</th>
        <th scope="col">Dept.</th>
        <th scope="col">FYP Year</th>
        <th scope="col">Supervisors</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
