<% provide(:title, 'Manage Students - PolyU FYP Management') %>
<div class="container">
    <h2 class="display-2" style="margin:1em 0 0.4em 0">Manage Students</h2>
    <% if is_admin? %>
    <h5 class="display-5">You are viewing all students.</h5>
    <% else %>
    <h5 class="display-5">You are viewing students from <%= current_user.department %>.</h5>
    <% end %>
    <br>
    <%= form_for(@student, url: students_path) do |f| %>
        <%= render 'shared/error_messages', obj: @student %>
        <p>Add new Student:</p>
        <div class="row">
            <div class="form-group col-md-4">
            <%= f.text_field :name, class: "form-control", placeholder: "enter student name" %>
            </div>
            <div class="form-group col-md-4">
            <%= f.text_field :netID, class: "form-control", placeholder: "enter student netID" %>
            </div>
            <div class="form-group col-md-4">
            <%= f.select :fyp_year, @fyp_year_list, {prompt: "Select FYP Year:"}, {class: "form-control"} %>
            </div>
            <%= f.hidden_field :department, value: current_user.department %>
        </div>
        <%= f.submit "Create student", class: "btn btn-primary" %>
        <% end %>
    <br>
    <br>
    <table class="table manage-table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">NetID</th>
            <th scope="col">Supervisors</th>
            </tr>
        </thead>
        <tbody>
            <% @students.each do |student| %>
                <tr>
                    <th scope="row"><%= student.id %></th>
                    <td><%= student.name %></td>
                    <td><%= student.netID %></td>
                    <td>
                    <div class="row">
                    <% student.supervisors.each do |supervisor| %>
                        <div class="col-md-4">
                        <%= form_for @student, :url => {:action => "removeSupervisor"} do |f| %>
                            <%= hidden_field_tag :stu_netID, student.netID %>
                            <%= hidden_field_tag :sup_netID, supervisor.netID %>
                            <%= supervisor.name %>
                            <%= f.submit "remove", class: "btn btn-sm btn-white", style: "padding-top:0.1em;border-radius:0.5rem" %>
                        <% end %>
                        </div>
                    <% end %>
                    </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>