<% provide(:title, @user.username + " - PolyU FYP Management") %>
<div class="container">
    <h2 class="display-2" style="margin:1em 0 0.5em 0">User Profile</h2>
    <p>
    <%= gravatar_for @user %><br><br>
    Manage Avatar in <%= link_to "Gravatar", "https://www.gravatar.com" %><br><br>
    Username: &nbsp;&nbsp;&nbsp;&nbsp; <%= @user.username %><br><br>
    Email: &nbsp;&nbsp;&nbsp;&nbsp; <%= @user.email %><br><br>
    Department: &nbsp;&nbsp;&nbsp;&nbsp; <%= @user.department %>
    </p>
</div>