<% provide(:title, "PolyU FYP Management") %>
<div class="container">
<h1 class="display-1 text-center" style="padding-top:2em">Log in</h1>
<br>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
      <%= f.label "Username or email" %>
      <%= f.text_field :username, class: 'form-control', placeholder: "Enter username or email" %>
      </div>
      
      <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', placeholder: "password"  %>
      <p><%= link_to "forgot password?", '#' %></p>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-md-6">
        <%= f.submit "Login", class: "btn btn-primary btn-lg col-sm-12" %>
        </div>
    <% end %>
        <div class="col-md-6">
        <a href="/signup" class="btn btn-secondary btn-lg col-sm-12">Sign Up</a>
        </div>
      </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
<div id="hello"></div>
</div>

