<% provide(:title, "Edit Todo Item") %>
<div class="container">
  <h2 class="display-2" style="margin:1em 0 0.5em 0">Edit Todo Item</h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@todo) do |f| %>
        <%= render 'shared/error_messages', obj: @todo %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= f.label "Date" %>
          <div class="form-row" style="margin:0;">
            <%= f.text_field :eta, class: 'form-control datepicker', required: true, value: @todo.eta.in_time_zone("Hong Kong").strftime("%d %B, %Y") %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :department %>
          <% if is_admin? %>
            <%= f.select :department_id, @departments_list, {include_blank: true}, {class: "custom-select"} %>
          <% else %>
            <%= f.select :department_id, @departments_list, {include_blank: true}, {class: "custom-select", disabled: true} %>
            <%= f.hidden_field :department_id, value: current_user.department.id %>
          <% end %>
        </div>
        <div class="form-group">
          <label>
            <%= radio_button_tag 'todo[color]', 'primary', (@todo.color == 'primary') %>
            <i class="form-timeline-badge timeline-badge primary"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'success', (@todo.color == 'success') %>
            <i class="form-timeline-badge timeline-badge success"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'info', (@todo.color == 'info') %>
            <i class="form-timeline-badge timeline-badge info"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'warning', (@todo.color == 'warning') %>
            <i class="form-timeline-badge timeline-badge warning"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'danger', (@todo.color == 'danger') %>
            <i class="form-timeline-badge timeline-badge danger"> &nbsp;&nbsp; </i></label>
        </div>
        <br>
        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.label :description %>
            <%= f.text_area :description, {placeholder: "Enter description (Optional)", rows: 3, class: "form-control"} %>
          </div>
        </div>
        <br>
        <%= f.submit "Save changes", class: "btn btn-primary" %>
        <%= link_to "Back", '/todos', {class: "btn btn-secondary"} %>
      <% end %>
    </div>
  </div>
</div>
