<% provide(:title, "Edit Todo Item") %>
<% content_for :page_packs do %>
  <%= stylesheet_pack_tag 'vue_todo', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <h2 class="display-2 aheading animated fadeInDown faster">Edit Todo Item</h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@todo, html: {class: "needs-validation", novalidate: true}) do |f| %>
        <%= render 'shared/error_messages', obj: @todo %>
        <div class="form-group">
          <%= f.label :title, for: "validation_tt" %>
          <%= f.text_field :title, class: 'form-control', id: "validation_tt", placeholder: "Enter title", required: true %>
          <div class="invalid-feedback">Please enter Todo title.</div>
        </div>
        <div class="form-group">
          <%= f.label "Date", for: "validation_dt" %>
          <div class="form-row" style="margin:0;">
            <%= f.text_field :eta, class: 'form-control datepicker', id: "validation_dt", required: true, value: @todo.eta.in_time_zone("Hong Kong").strftime("%d %B, %Y") %>
            <div class="invalid-feedback">Please enter Todo date.</div>
          </div>
        </div>
          <%= f.label :department %>
          <% if is_admin? %>
          <div class="form-group" style="margin-bottom: 0.5em;">
            <%= f.select :university_id, @universities_list, {prompt: "Select University..."}, {id: "validation_uni", class: "custom-select"} %>
          </div>
          <div class="form-group">
            <%= f.select :department_id, @departments_list, {include_blank: true}, {id: "validation_dp", class: "custom-select", disabled: true} %>
          </div>
          <% else %>
          <div class="form-group">
            <%= f.text_field :department, value: (@todo.department.present? ? @todo.department.name : "All Departments"), class: 'form-control', disabled: true %>
            <%= f.hidden_field :department_id, value: (@todo.department.present? ? @todo.department.id : nil) %>
          </div>
          <% end %>
        <div class="form-row mb-2">
        &nbsp;
          <label>
            <%= radio_button_tag 'todo[color]', 'primary', (@todo.color == 'primary') %>
            <i class="form-timeline-badge timeline-badge primary"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'success', (@todo.color == 'success') %>
            <i class="form-timeline-badge timeline-badge success"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'info', (@todo.color == 'info') %>
            <i class="form-timeline-badge timeline-badge info"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'warning', (@todo.color == 'warning') %>
            <i class="form-timeline-badge timeline-badge warning"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'danger', (@todo.color == 'danger') %>
            <i class="form-timeline-badge timeline-badge danger"> &nbsp;&nbsp; </i></label>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.label :description %>
            <%= f.text_area :description, {placeholder: "Enter description (Optional)", rows: 3, class: "form-control"} %>
          </div>
        </div>
        <br>
        <%= f.submit "Save changes", class: "btn btn-primary" %>
        <%= link_to "Back", '/todos', {class: "btn btn-secondary"} %>
      <% end %>
    </div>
  </div>
</div>
