<% provide(:title, 'Todo List') %>
<% content_for :page_packs do %>
  <%= javascript_pack_tag 'vue_todo', 'data-turbolinks-track': 'reload', defer: true %>
  <%= stylesheet_pack_tag 'vue_todo', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <h2 class="display-2" style="margin:1em 0 0.4em 0">Todo List</h2>
  <% if is_admin? %>
    <h5 class="display-5">You are viewing Todo items from all departments.</h5>
  <% else %>
    <h5 class="display-5">You are viewing Todo items from <%= current_user.department.name %>.</h5>
  <% end %>
  <br>
  <div class="d-flex justify-content-between align-items-center">
    <button class="btn btn-secondary mr-auto" type="button" data-toggle="collapse" data-target="#addtodoform" aria-expanded="false" aria-controls="addtodoform">
      <i class="fas fa-plus" style="font-size:80%"></i>&ensp; New Todo Item
    </button>
    <button class="btn btn-light todo-refresh-btn" style="margin-right:0.3em;" aria-label="Refresh Todo items"><i class="fas fa-sync-alt" style="font-size:80%;"></i>
      <p class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">&nbsp;Refresh</p>
    </button>
    <button class="btn btn-light todo-toggle-past-btn" aria-label="Toggle Past Todo items"><i class="fas fa-clock" style="font-size:80%;"></i>
      <p class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">&nbsp;Toggle Past Todos</p>
    </button>
  </div>
  <div class="collapse <%= (!@retry.blank? ? "show" : "") %>" id="addtodoform">
    <br>
    <div class="card card-body">
      <%= form_for(@todo, url: todos_path, html: {class: "needs-validation", novalidate: true}) do |f| %>
        <div class="form-row">
          <div class="form-group col-md-8">
            <%= f.text_field :title, class: "form-control", placeholder: "Enter title", required: true %>
            <div class="invalid-feedback">Please enter Todo title.</div>
          </div>
          <div class="form-group col-md-4" style="margin:0 0 1em 0;">
            <input name="todo[eta]" class="form-control datepicker" placeholder="Pick a Date">
          </div>
        </div>
        <div class="form-row">
          <% if is_admin? %>
            <div class="form-group col-md-12">
              <%= f.select :department_id, @departments_list, {prompt: "For All Departments"}, {class: "custom-select"} %>
            </div>
          <% else %>
            <%= f.hidden_field :department_id, value: current_user.department.id %>
          <% end %>
        </div>
        <div class="form-row mb-2">
          &nbsp;
          <label>
            <%= radio_button_tag 'todo[color]', 'primary', true %>
            <i class="form-timeline-badge timeline-badge primary"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'success', false %>
            <i class="form-timeline-badge timeline-badge success"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'info', false %>
            <i class="form-timeline-badge timeline-badge info"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'warning', false %>
            <i class="form-timeline-badge timeline-badge warning"> &nbsp;&nbsp; </i></label>
          <label>
            <%= radio_button_tag 'todo[color]', 'danger', false %>
            <i class="form-timeline-badge timeline-badge danger"> &nbsp;&nbsp; </i></label>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.text_area :description, {placeholder: "Enter description (Optional)", rows: 3, class: "form-control"} %>
          </div>
        </div>
        <%= f.submit "Add to Todo List", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <%= content_tag :div,
    id: 'todo',
    data: {
        items2: @todo_list,
        is_admin: is_admin?,
    }.to_json() do %>
  <div class="d-flex justify-content-center">
    <h4 style="margin-top:2em;color:lightgrey"><i class="fas fa-sync-alt fa-spin" style="font-size:80%;"></i>&nbsp;&nbsp;Loading Todo items...</h4>
  </div>
  <% end %>
</div>
